/**
 *
 * Custom Utitlities
 *
 */

.container-sm {
  max-width: map-get($container-max-widths, sm);
}

.container-md {
  max-width: map-get($container-max-widths, md);
}

.container-lg {
  max-width: map-get($container-max-widths, lg);
}

.container-xl {
  max-width: map-get($container-max-widths, xl);
}

.container-xxl {
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xxl);
  }
}

.text-xs {
  @include font-size($text-xs);
}

.text-sm {
  @include font-size($text-sm);
}

.text-base {
  @include font-size($text-base);
}

.text-md {
  @include font-size($text-md);
}

.text-lg {
  @include font-size($text-lg);
}

.text-xl {
  @include font-size($text-xl);
}
.text-2xl {
  @include font-size($text-2xl);
}
.text-3xl {
  @include font-size($text-3xl);
}
.text-4xl {
  @include font-size($text-4xl);
}
.text-5xl {
  @include font-size($text-5xl);
}
.text-6xl {
  @include font-size($text-6xl);
}

// Line Height
.line-height-none {
  line-height: 1;
}

.line-height-tight {
  line-height: 1.25;
}

.line-height-normal {
  line-height: 1.5;
}

.line-height-loose {
  line-height: 2;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.desktop-br {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

// Layout helpers

.pull-up-1 {
  position: relative;
  top: -1px;
}

.pull-up-2 {
  position: relative;
  top: -2px;
}

.pull-up-3 {
  position: relative;
  top: -3px;
}

.pull-down-1 {
  position: relative;
  top: 1px;
}

.pull-down-2 {
  position: relative;
  top: 2px;
}

.pull-down-3 {
  position: relative;
  top: 3px;
}
